<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Signin</h1>
<form action="/signin" method="POST">
{% csrf_token %}
    <label for="">Username</label>
    <input type="text" name="username" placeholder="Enter your username" id="username">
    <br>

    <label for="">Password</label>
    <input type="password" name="password" placeholder="Enter your password " id="password">
    <br>

    <button type="submit">Signin</button>






</form>


</body>
</html>